@import "../../common/color.css";
@import "../../common/border.css";

.Button {
    composes: padding-small from "../../common/layout.css";
    composes: on-hover-border from "../../common/hover.css";
    border: var(--dark-border);
    background-color: var(--gray);
}

.error {
    background-color: var(--error);
}

.loading {
    background-color: var(--loading) ;
}
