@import "../../common/border.css";

.App {
    composes: padding-medium wrapper-width from "../../common/layout.css";
    composes: serif from "../../common/typography.css";
    border: var(--dark-border);
}